CATEGORIACL ENCODING

<h5>1.One-hot encoding</h5>

In [1]:
import pandas as pd
data=pd.read_csv("train.csv")
pd.get_dummies(data["Sex"],drop_first=True).head()

   male
0     1
1     1
2     1
3     0
4     1

<h5>2.Count or frequency encoding</h5>

In [2]:
count_map = data["Embarked"].value_counts().to_dict()
data["Embarked"].map(count_map).head()

0    563.0
1    563.0
2    563.0
3    563.0
4    563.0
Name: Embarked, dtype: float64

<h5>3.Ordinal or label encoding</h5>

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
data["Sex"]=LabelEncoder().fit_transform(data["Sex"])

<h5>4.Probability Ratio Encoding</h5>

This encoding is suitable for classification problems only, where the target is binary.

<h5>5.Ordinal encoding</h5>

In [ ]:
import numpy as np
ems={"S":5,"C":2,"Q":7,np.NaN:0}
data["Embarked"].map(ems).head()

label and ordinal encoding have little difference label convert the data to numerical withot condition but in ordinal condition define  by us

<h5>6.Mean Encoding</h5>

In [11]:
mean1=data.groupby("Embarked")["Survived"].mean()
data["Embarked"].map(mean1).head()

0    0.330373
1    0.330373
2    0.330373
3    0.330373
4    0.330373
Name: Embarked, dtype: float64