# TRANSFORMERS

<h5>Logarithmic transformation<h5><br>

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv("train.csv")

np.log(data["Age"]) / np.log10(data["Age"])

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,463,0,1,"Gee, Mr. Arthur H",male,47.0,0,0,111320,38.5000,E63,S
1,1,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
2,3,415,1,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.9250,NaN,S
3,4,480,1,3,"Hirvonen, Miss. Hildur E",female,2.0,0,1,3101298,12.2875,NaN,S
4,5,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S

CRITERIA:
* it cannot handle zero return NaN
* its for right skew and positive numbers

<h5>Square root transformation<br></h5>

In [ ]:
np.sqrt(data["Age"])

CRITERIA:
* it can handle zero  and weaker than log
* its for right skew and positive numbers

<h5>Reciprocal transformation<br></h5>

In [ ]:
np.reciprocal(data["Age"])

CRITERIA:<br>
The reciprocal transformation is a powerful transformation with a radical effect. The reciprocal reverses the order among values of the same sign, so large values become smaller. The negative reciprocal preserves the order among values of the same sign.

<h5>Exponential or power transformation<br></h5>

In [ ]:
np.exp(data["Age"],2) # we use any number

CRITERIA:
* to reduce left skewness.

<h5>Box-Cox transformation<br></h5>

In [ ]:
from sklearn.preprocessing import PowerTransformer

boxcox_transformer = PowerTransformer(method='box-cox', standardize=False)

data_new = boxcox_transformer.transform(data["Age"])

CRITERIA:<br>
* weâ€™re searching and evaluating all the other transformations and choosing the best one.
* for positive numbers

<h5>Yeo-Johnson transformation<br></h5>

In [ ]:
yeo_johnson_transformer = PowerTransformer(method='yeo-johnson', standardize=False)


data_new = yeo_johnson_transformer.transform(data["Age"])

CRITERIA:
* use for negative number

Tips:
* -0.5 to 0.5 =>fair symmetrical(lightly skewed)
* -1 to -0.5 or 0.5 to 1 =>moderatly skewed
* lesser than -1 or greater thean 1 => heavily skewed
* log transformation => best for right skewed data # no zero should present inside data because log transformation perform on negative or positive number
* sqrt transformation => best for moderate skewed data and right skew data # it does not affect by zero
### POSITIVE NUMBERS (right side)<br>
    square root (0 present in data )<br>cube root (0,"-" can present in data)<br>log ( 0 or "-" cannot present in data)<br>reciprocal (0 cannot present in data)<br>
### NEGATIVE NUMBERS (left side)<br>
     square (0,"-" is present in data)<br>,cube root ()<br>,logarithmic